# Core Web Framework & Servidor
fastapi>=0.109.0,<0.110.0
uvicorn[standard]>=0.27.0,<0.28.0
pydantic>=2.6.0,<2.7.0
email-validator>=2.1.0

# Base de Datos & ORM
sqlalchemy>=2.0.25
psycopg2-binary>=2.9.9

# Configuración & Entorno
python-dotenv>=1.0.0